@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --white: #fff;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  color: #262626;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.inner {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.header a {
  color: #313131;
  font-size: 18px;
  font-weight: 500;
}
.header .btn {
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5F46E2;
  color: #fff;
  padding: 0 34px;
  border-radius: 50px;
  margin-left: 37px;
  font-size: 16px;
  font-weight: 500;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header ul {
  display: flex;
  align-items: center;
}
.header .left ul {
  align-items: flex-end;
}
.header .logo {
  margin-right: 30px;
}
.header .menu {
  margin-right: 60px;
}

.visual {
  background: #4811E3;
  height: 960px;
}
.visual .inner {
  max-width: 1230px;
  height: 100%;
  position: relative;
}
.visual .sub {
  color: #CF8148;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.visual .tit {
  margin-top: 8px;
  color: #FFF;
  font-size: 60px;
  font-weight: 300;
  line-height: 120%;
}
.visual .tit strong {
  font-weight: 700;
}
.visual .tit b {
  color: #81D1FF;
}
.visual .infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.visual .top {
  padding-top: 223px;
}
.visual .bottom {
  padding-bottom: 79px;
}
.visual .insertPhone {
  position: relative;
  width: 440px;
  height: 54px;
  border-radius: 250px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}
.visual .insertPhone input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
}
.visual .insertPhone input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.visual .insertPhone input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.visual .insertPhone .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 148px;
  height: 100%;
  color: #fff;
  border-radius: 250px;
  background: linear-gradient(0deg, #0EA1AA 0%, #0EA1AA 100%), #BF4949;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.visual .box {
  display: inline-block;
  padding: 23px 35px;
  border-radius: 15.44px;
  background-color: #350F9F;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.visual .box .yellow {
  margin-top: 5px;
  font-size: 50px;
  font-weight: 600;
  color: #FEE383;
}
.visual .model {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 86%;
  padding-right: 72px;
}
.visual .sideWrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 72px;
  width: 100vw;
  max-width: 1700px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.visual .sideContact {
  width: 130px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
}
.visual .sideContact a {
  font-size: 15px;
  font-weight: 500;
  color: #262626;
}
.visual .sideContact.katalk {
  background: #fff url(../img/ic_katalk.svg) left top no-repeat;
}
.visual .sideContact.mesg {
  background: #fff url(../img/ic_mesg.svg) left top no-repeat;
}/*# sourceMappingURL=style.css.map */