@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
.insertPhone {
  position: relative;
  width: 440px;
  height: 54px;
  border-radius: 250px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}
.insertPhone input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
}
.insertPhone input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.insertPhone input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.insertPhone .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 148px;
  height: 100%;
  color: #fff;
  border-radius: 250px;
  background: linear-gradient(0deg, #0EA1AA 0%, #0EA1AA 100%), #BF4949;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}

:root {
  --white: #fff;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  color: #262626;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.inner {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  box-sizing: border-box;
}

.d-pc {
  display: block;
}

.d-mobile {
  display: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0;
}

h2 {
  color: #262626;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h2 em {
  font-weight: 300;
}

h4 {
  color: #262626;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h5 {
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #85858F;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: -0.72px;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1;
}
.header a {
  color: #313131;
  font-size: 18px;
  font-weight: 500;
}
.header .btn {
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5F46E2;
  color: #fff;
  padding: 0 34px;
  border-radius: 50px;
  margin-left: 37px;
  font-size: 16px;
  font-weight: 500;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header ul {
  display: flex;
  align-items: center;
}
.header .left ul {
  align-items: flex-end;
}
.header .logo {
  margin-right: 30px;
}
.header .menu {
  margin-right: 60px;
}

.visual {
  background: #4811E3;
  height: 960px;
}
.visual .inner {
  max-width: 1230px;
  height: 100%;
  position: relative;
}
.visual .sub {
  color: #CF8148;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.visual .tit {
  margin-top: 8px;
  color: #FFF;
  font-size: 60px;
  font-weight: 300;
  line-height: 120%;
}
.visual .tit strong {
  font-weight: 700;
}
.visual .tit b {
  color: #81D1FF;
}
.visual .infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.visual .top {
  padding-top: 223px;
}
.visual .bottom {
  padding-bottom: 79px;
}
.visual .box {
  display: inline-block;
  padding: 23px 35px;
  border-radius: 15.44px;
  background-color: #350F9F;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.visual .box .yellow {
  margin-top: 5px;
  font-size: 50px;
  font-weight: 600;
  color: #FEE383;
}
.visual .model {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 86%;
  padding-right: 72px;
}
.visual .sideWrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 72px;
  width: 100vw;
  max-width: 1700px;
  padding: 0 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.visual .sideContact {
  filter: drop-shadow(1px 2px 0px rgba(0, 0, 0, 0.25));
  width: 130px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
}
.visual .sideContact a {
  font-size: 15px;
  font-weight: 500;
  color: #262626;
}
.visual .sideContact.katalk {
  background: #fff url(../img/ic_katalk.svg) left top no-repeat;
}
.visual .sideContact.mesg {
  background: #fff url(../img/ic_mesg.svg) left top no-repeat;
}

.secSub {
  color: #3707BD;
  margin-bottom: 14px;
}

.feature {
  text-align: center;
  padding-top: 126px;
  padding-bottom: 90px;
}
.feature .featureItem {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 74px;
  display: flex;
  gap: 20px;
}
.feature .featureItem li {
  background-color: rgba(241, 241, 241, 0.5);
  padding-top: 58px;
  padding-bottom: 30px;
  text-align: center;
  flex: 1 0 0;
}
.feature .featureItem li img {
  margin-bottom: 56px;
}
.feature .featureItem li h4 {
  margin-bottom: 15px;
  color: #262626;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.featureSlide {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.featureSlide h2 {
  margin-bottom: 60px;
}
.featureSlide .inner {
  max-width: 1200px;
}
.featureSlide img {
  display: inline-block;
}
.featureSlide .item {
  text-align: center;
  opacity: 0.5;
  transition: 0.3s;
}
.featureSlide .tit {
  color: #262626;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 24px;
}
.featureSlide .tit span {
  margin-right: 20px;
  color: #262626;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 100;
}
.featureSlide .slick-current {
  opacity: 1;
  z-index: 1;
}
.featureSlide .slick-arrow {
  width: 60px;
  height: 60px;
  z-index: 1;
}
.featureSlide .slick-list {
  overflow: visible;
}
.featureSlide .slick-prev {
  background: url(../img/ic_slide_arr_l.svg) center no-repeat;
  left: -70px;
}
.featureSlide .slick-next {
  background: url(../img/ic_slide_arr.svg) center no-repeat;
  right: -70px;
}
.featureSlide .slick-prev:before, .featureSlide .slick-next:before {
  content: "";
}
.featureSlide .slick-dots {
  position: static;
  margin-top: 36px;
}
.featureSlide .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.featureSlide .slick-dots li {
  margin: 0 7.5px;
}
.featureSlide .slick-dots li button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureSlide .slick-dots li button:before {
  position: static;
  width: 14px;
  height: 14px;
  border: 1.4px solid #CFCFCF;
  border-radius: 50px;
  content: "";
  opacity: 1;
  box-sizing: border-box;
}
.featureSlide .slick-dots li.slick-active button:before {
  border: 0;
  background: #4811E3;
  opacity: 1;
}

.effect {
  background: #EEEFF4;
  padding-top: 92px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.effect h2 {
  margin-top: 17px;
  margin-bottom: 317px;
}
.effect .insertPhone {
  position: relative;
  width: 440px;
  height: 54px;
  border-radius: 250px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}
.effect .insertPhone input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;
}
.effect .insertPhone input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.effect .insertPhone input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.effect .insertPhone .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 148px;
  height: 100%;
  color: #fff;
  border-radius: 250px;
  background: linear-gradient(0deg, #0EA1AA 0%, #0EA1AA 100%), #BF4949;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.effect .insertPhone {
  border-color: rgba(72, 17, 227, 0.2);
}
.effect .insertPhone .btn {
  background-color: #4811E3;
  background-image: none;
}
.effect .score {
  margin-top: -32px;
  background-color: #4811E3;
  color: #fff;
  width: 100%;
  padding: 60px 0;
}
.effect .score ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.effect .score ul li {
  flex: 1 0 0;
  text-align: center;
}
.effect .score ul li .sub {
  color: #FFF;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}
.effect .score ul li .value {
  color: #FFF;
  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.effect .inner2 {
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.forFree {
  text-align: center;
  padding: 180px 0 90px;
}
.forFree h2 {
  margin-bottom: 70px;
}
.forFree h2 em {
  font-weight: 400;
}
.forFree ul {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.forFree ul li {
  flex: 1 0 0;
  border: 1px solid #DADADA;
  background: #FFF;
  position: relative;
  min-height: 500px;
  text-align: center;
  padding-top: 36px;
  box-sizing: border-box;
}
.forFree ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  bottom: 0;
  background-color: #4811E3;
}
.forFree ul li img {
  margin-bottom: 22px;
}
.forFree ul li h5 {
  font-weight: 700;
  margin-bottom: 24px;
}

.dontWorry {
  padding-top: 90px;
  padding-bottom: 90px;
}
.dontWorry .inner {
  text-align: center;
}
.dontWorry .inner img {
  margin-top: 60px;
  margin-bottom: 56px;
}
.dontWorry .inner h4 {
  margin-bottom: 24px;
}
.dontWorry .inner .tag {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
}
.dontWorry .inner .tag .item {
  color: #fff;
  padding: 11px 15px;
  border-radius: 50px;
  background-color: #4811E3;
}

.descSec {
  padding-top: 100px;
  padding-bottom: 180px;
  overflow: hidden;
}
.descSec .item {
  display: flex;
  gap: 80px;
  word-break: keep-all;
  min-height: 600px;
}
.descSec .item > div {
  flex: 1 0 0;
  position: relative;
}
.descSec .item .textWrap {
  padding-left: 40px;
  text-align: left;
}
.descSec .item img {
  width: 900px;
  max-width: 50vw;
  position: absolute;
  right: 0;
}
.descSec .item + .item {
  padding-top: 180px;
}
.descSec .item:nth-child(2) .textWrap {
  padding-left: 0;
  padding-right: 70px;
}
.descSec .item:nth-child(2) img {
  right: unset;
  left: 0;
}
.descSec .item h2 {
  font-weight: 500;
  margin-bottom: 18px;
}
.descSec .item p {
  color: #646464;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.842%;
  letter-spacing: -0.76px;
}
.descSec .item ul {
  margin-top: 60px;
  margin-bottom: 60px;
}
.descSec .item ul li {
  position: relative;
  padding-left: 30px;
  font-size: 19px;
  color: #262626;
  line-height: 136.842%;
}
.descSec .item ul li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #262626;
}
.descSec .item ul li + li {
  margin-top: 12px;
}
.descSec .item .point {
  color: #EE5804;
  margin-bottom: 18px;
}
.descSec .item .desc {
  color: #262626;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.842%;
}

.function {
  background-color: #E0E1F2;
  padding: 92px 0 86px;
  text-align: center;
}
.function h2 {
  margin-bottom: 70px;
}
.function .card {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 25px;
}
.function .card .item {
  flex: 1 0 25%;
}
.function .card .item .tray {
  display: inline-block;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #FFF;
  padding: 20px 24px;
  text-align: left;
}
.function .card .item .tray img {
  margin-bottom: 50px;
  margin-left: 25px;
}
.function .card .item .tray h5 {
  margin-bottom: 12px;
}

.infinitiBrand {
  padding: 180px 0;
  text-align: center;
  overflow: hidden;
}
.infinitiBrand h2 {
  margin-bottom: 65px;
}
.infinitiBrand ul {
  display: flex;
  gap: 20px;
  animation: infiSlide 30s linear infinite;
}
@keyframes infiSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.download {
  padding: 110px 0 135px;
  background-color: #EEEFF4;
}
.download .inner {
  display: flex;
  justify-content: space-between;
}
.download .inner .mockup {
  margin-left: 18px;
  aspect-ratio: 796/500;
  width: 100%;
}
.download .inner .textWrap {
  padding-right: 85px;
}
.download .inner .textWrap em {
  font-weight: 300;
}
.download .inner .textWrap h2 {
  margin-bottom: 17px;
}
.download .inner .textWrap p {
  margin-bottom: 80px;
}
.download .inner .textWrap .name {
  color: #262626;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.download .inner .textWrap .app span + span {
  margin-left: 22px;
}
.download .inner .textWrap .app + .app {
  margin-top: 46px;
}

.price {
  padding: 186px 0 180px;
  text-align: center;
  overflow: hidden;
}
.price ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
}
.price ul li {
  margin: 0 5px;
}

.rightNow {
  width: 100%;
  background: url(../img/bg_rightNow.jpg) center/cover no-repeat;
}
.rightNow .inner {
  max-width: 1200px;
  position: relative;
  padding-top: 140px;
  height: 480px;
}
.rightNow .inner .sonImg {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 100%;
}

.contact {
  padding: 80px 0 100px;
}
.contact .inner {
  max-width: 1215px;
  display: flex;
  justify-content: space-between;
}
.contact .inner .secSub {
  margin-bottom: 7px;
}
.contact .inner .secSub h5 {
  font-size: 20px;
}
.contact .inner .secTit {
  max-width: 265px;
  margin-bottom: 24px;
  word-break: keep-all;
}
.contact .inner p {
  max-width: 260px;
  word-break: keep-all;
}
.contact .inner .form {
  flex: 0 0 auto;
  width: 650px;
}
.contact .inner .form .input {
  margin-bottom: 20px;
}
.contact .inner .form .input .label {
  color: #262626;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .inner .form .input .atk::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/ic_asterisk.svg) center no-repeat;
}
.contact .inner .form .input input {
  margin-top: 5px;
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 1px solid #85858F;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 0;
}
.contact .inner .form .input input::-moz-placeholder {
  color: rgba(38, 38, 38, 0.2);
}
.contact .inner .form .input input::placeholder {
  color: rgba(38, 38, 38, 0.2);
}
.contact .inner .form .input textarea {
  resize: none;
  margin-top: 5px;
  width: 100%;
  height: 116px;
  padding: 12px 8px;
  box-sizing: border-box;
  border: 1px solid #85858F;
}
.contact .inner .form .input textarea::-moz-placeholder {
  color: rgba(38, 38, 38, 0.2);
}
.contact .inner .form .input textarea::placeholder {
  color: rgba(38, 38, 38, 0.2);
}
.contact .inner .form .checkbox {
  padding-left: 28px;
  position: relative;
  color: #262626;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  float: right;
}
.contact .inner .form .checkbox .checkIcon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #848484;
  box-sizing: border-box;
}
.contact .inner .form .checkbox input[type=checkbox] {
  display: none;
}
.contact .inner .form .checkbox input[type=checkbox]:checked + .checkIcon {
  background-color: #4811E3;
  border: 0;
}
.contact .inner .form .btn {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 130px;
  height: 45px;
  border: 0;
  background-color: #4811E3;
  border-radius: 5px;
  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer {
  padding: 22px 0 57px;
  background-color: #F5F5F5;
  border-top: 1px solid #BBB;
}
footer .inner {
  display: flex;
  justify-content: space-between;
}
footer .left {
  padding-left: 32px;
}
footer .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
footer .logo {
  margin-bottom: 9px;
}
footer .logo img {
  width: 86px;
}
footer p {
  color: #262626;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}
footer .info1 {
  margin-bottom: 27px;
}
footer .info2 {
  line-height: normal;
}
footer .contact {
  padding: 0;
  display: inline-flex;
  margin-bottom: 23px;
}
footer .contact .bg {
  border-radius: 5px 0px 0px 5px;
  background: #3D3D3D;
  box-sizing: border-box;
  height: 26px;
  color: #FFF;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
footer .contact .border a {
  border-radius: 0 5px 5px 0;
  border: 1px solid #D9D9D9;
  border-left: 0;
  background: #FFF;
  box-sizing: border-box;
  height: 26px;
  color: #262626;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 5px;
}
footer .etc {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
footer .etc li {
  flex: 0 0 auto;
}
footer .etc li a {
  color: #262626;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .copy {
  color: #9F9F9F;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1280px) {
  .insertPhone {
    position: relative;
    width: 440px;
    height: 54px;
    border-radius: 250px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
  }
  .insertPhone input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
  }
  .insertPhone input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  .insertPhone input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  .insertPhone .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 148px;
    height: 100%;
    color: #fff;
    border-radius: 250px;
    background: linear-gradient(0deg, #0EA1AA 0%, #0EA1AA 100%), #BF4949;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
  }
  .insertPhone {
    width: 100%;
    height: 42px;
    margin-bottom: 108px;
  }
  .insertPhone input {
    font-size: 14px;
    padding: 0 16px;
  }
  .insertPhone .btn {
    width: 124px;
    font-size: 15px;
  }
  .d-pc {
    display: none !important;
  }
  .d-mobile {
    display: block !important;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  .secSub {
    margin-bottom: 7px;
  }
  .inner {
    max-width: 480px;
  }
  .header {
    height: 48px;
  }
  .header .inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .inner .logo {
    margin: 0;
  }
  .header .inner .logo img {
    height: 22px;
  }
  .header .inner .hamburgerMenu {
    position: absolute;
    padding: 10px;
    right: 3px;
    top: 0;
    height: auto;
  }
  .visual {
    height: 812px;
    position: relative;
  }
  .visual .inner {
    max-width: 480px;
  }
  .visual .top {
    padding-top: 90px;
  }
  .visual .sub {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .visual .tit {
    font-size: 32px;
  }
  .visual .model {
    height: 460px;
    bottom: 158px;
    padding: 0;
  }
  .visual .bottom {
    padding-bottom: 0;
    padding: 14px 0 0;
    background-color: #4811E3;
    z-index: 1;
  }
  .visual .box {
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
    padding: 13px 18px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    width: 100vw;
    height: 94px;
  }
  .visual .box .yellow {
    font-size: 30px;
    margin-top: 10px;
  }
  .visual .sideWrap {
    width: auto;
    left: unset;
    right: 0;
    bottom: 180px;
    transform: none;
  }
  .visual .sideWrap .sideContact {
    width: 93px;
    height: 36px;
    padding-right: 9px;
    padding-left: 36px;
    background-size: contain;
  }
  .visual .sideWrap .sideContact a {
    font-size: 11px;
  }
  .feature {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .feature .featureItem {
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: column;
  }
  .feature .featureItem li {
    width: 250px;
    padding-top: 40px;
    padding-bottom: 36px;
    margin: 0 auto;
  }
  .feature .featureItem li img {
    width: 76px;
    margin-bottom: 31px;
  }
  .feature .featureItem li h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .feature .featureItem li p {
    font-size: 14px;
  }
  .featureSlide {
    padding-top: 40px;
    padding-bottom: 46px;
  }
  .featureSlide .inner {
    width: 100%;
  }
  .featureSlide .slick-arrow {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
  .featureSlide .slick-prev {
    left: 0;
  }
  .featureSlide .slick-next {
    right: 0;
  }
  .featureSlide .slick-dots {
    margin-top: 24px;
  }
  .featureSlide img {
    max-width: 80%;
    width: 480px;
  }
  .featureSlide .tit {
    font-size: 19.847px;
    margin-bottom: 13px;
  }
  .featureSlide .tit span {
    font-size: 19.847px;
    margin-right: 8px;
  }
  .effect {
    padding-top: 80px;
  }
  .effect .insertPhone {
    position: relative;
    width: 440px;
    height: 54px;
    border-radius: 250px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
  }
  .effect .insertPhone input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
  }
  .effect .insertPhone input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  .effect .insertPhone input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  .effect .insertPhone .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 148px;
    height: 100%;
    color: #fff;
    border-radius: 250px;
    background: linear-gradient(0deg, #0EA1AA 0%, #0EA1AA 100%), #BF4949;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
  }
  .effect .insertPhone {
    width: 100%;
    height: 42px;
    margin-bottom: 56px;
  }
  .effect .insertPhone input {
    font-size: 14px;
    padding: 0 16px;
  }
  .effect .insertPhone .btn {
    width: 124px;
    font-size: 15px;
    background-color: #4811E3;
    background-image: none;
  }
  .effect .inner2 {
    display: block;
    max-width: 480px;
  }
  .effect h2 {
    margin: 0;
    margin-bottom: 28px;
  }
  .effect .effectImg {
    margin: 0 auto;
  }
  .effect .score ul {
    flex-wrap: wrap;
    gap: 50px 0;
  }
  .effect .score ul li {
    flex: 0 0 50%;
  }
  .effect .score ul li .sub {
    font-size: 16.798px;
    margin-bottom: 8px;
  }
  .effect .score ul li .value {
    font-size: 34.996px;
  }
  .forFree {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .forFree h2 {
    margin-bottom: 26px;
  }
  .forFree ul {
    flex-direction: column;
    gap: 26px;
    padding: 0 8px;
  }
  .forFree ul li {
    width: 320px;
    min-height: 360px;
    margin: 0 auto;
    padding-top: 28px;
  }
  .forFree ul li img {
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  .forFree ul li h5 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .dontWorry {
    padding: 40px 0;
    overflow: hidden;
  }
  .dontWorry .inner {
    overflow: hidden;
  }
  .dontWorry .inner img {
    width: 100%;
    margin: 32px 0;
  }
  .dontWorry .inner h4 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .dontWorry .inner .tag {
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    overflow: auto;
  }
  .dontWorry .inner .tag .item {
    flex: 0 0 auto;
  }
  .descSec {
    padding: 40px 0 80px;
  }
  .descSec .item {
    flex-direction: column;
    gap: 0;
  }
  .descSec .item img {
    width: calc(100% + 40px);
    position: static;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 40px;
  }
  .descSec .item .textWrap {
    padding-left: 0;
  }
  .descSec .item h2 {
    margin-bottom: 12px;
  }
  .descSec .item p {
    font-size: 16px;
  }
  .descSec .item ul {
    margin: 28px 0;
  }
  .descSec .item ul li {
    font-size: 16px;
  }
  .descSec .item ul li + li {
    margin-top: 4px;
  }
  .descSec .item .point {
    margin-bottom: 12px;
  }
  .descSec .item .desc {
    font-size: 16px;
  }
  .descSec .item + .item {
    padding-top: 80px;
  }
  .descSec .item:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .function {
    padding: 60px 0 50px;
  }
  .function h2 {
    margin-bottom: 32px;
  }
  .function .card {
    flex-direction: column;
    gap: 20px;
  }
  .function .card .item {
    flex: 0 0 auto;
  }
  .function .card .item .tray {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 20px;
  }
  .function .card .item .tray img {
    margin: 0;
    width: 80px;
  }
  .function .card .item .tray h5 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .infinitiBrand {
    padding: 60px 0 80px;
  }
  .infinitiBrand ul {
    animation: none;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px 6px;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .infinitiBrand ul li {
    flex: 1 0 auto;
    width: 22.5%;
  }
  .infinitiBrand ul li img {
    width: 100%;
  }
  .infinitiBrand ul .clone {
    display: none;
  }
  .download {
    padding: 60px 0;
  }
  .download .inner {
    display: block;
  }
  .download .inner .mockup {
    width: 100%;
    margin: 0;
    margin-bottom: 47px;
  }
  .download .inner .textWrap h2 {
    margin-bottom: 8px;
  }
  .download .inner .textWrap p {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .download .inner .textWrap .name {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .download .inner .textWrap .app span + span {
    margin-left: 12px;
  }
  .download .inner .textWrap .app + .app {
    margin-top: 32px;
  }
  .price {
    padding: 80px 0;
  }
  .price ul {
    flex-direction: column;
    align-items: center;
    gap: 42px;
    margin-top: 32px;
  }
  .price ul img {
    width: 100%;
  }
  .rightNow {
    padding: 0;
    height: 600px;
    box-sizing: border-box;
  }
  .rightNow .inner {
    max-width: 480px;
    padding-top: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .rightNow .inner img.d-mobile {
    width: 100%;
    max-width: 310px;
    padding-right: 7px;
  }
  .rightNow .inner .sonImg {
    height: 410px;
    padding: 0 25px;
    bottom: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact {
    padding: 80px 0 114px;
  }
  .contact .inner {
    display: block;
    max-width: 480px;
  }
  .contact .inner .infoWrap {
    text-align: center;
  }
  .contact .inner .infoWrap .secTit {
    max-width: none;
    margin-bottom: 14px;
  }
  .contact .inner .infoWrap p {
    max-width: none;
    font-size: 10px;
    margin-bottom: 50px;
  }
  .contact .inner .form {
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .contact .inner .form .input .label {
    font-size: 12.68px;
  }
  .contact .inner .form .input input {
    font-size: 12px;
    height: 36px;
    margin-top: 4px;
    padding: 0 5.6px;
  }
  .contact .inner .form .checkbox {
    float: left;
    padding-left: 18px;
    font-size: 12.68px;
    margin-top: -15px;
  }
  .contact .inner .form .checkbox .checkIcon {
    width: 14px;
    height: 14px;
    top: 3px;
  }
  .contact .inner .form .btn {
    margin-top: 49px;
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  footer {
    padding: 20px 0 37px;
  }
  footer .inner {
    flex-direction: column;
    text-align: center;
  }
  footer .left {
    padding: 0;
  }
  footer .left .info1 {
    margin-bottom: 8px;
    font-size: 10px;
    color: #626262;
  }
  footer .left .info2 {
    font-size: 10px;
    color: #626262;
  }
  footer .left .divider {
    display: none;
  }
  footer .left span {
    display: block;
  }
  footer .left br {
    display: none;
  }
  footer .right {
    justify-content: center;
    align-items: center;
    padding-top: 26px;
  }
  footer .right .contact {
    margin-bottom: 8px;
  }
  footer .right .etc {
    margin-bottom: 8px;
  }
  footer .right .copy {
    font-size: 10px;
  }
}
.modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.modalMenu.on {
  display: block;
}
.modalMenu .dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalMenu .offCanvas {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.modalMenu .logo img {
  width: 72px;
}
.modalMenu .modalClose {
  padding: 10px;
  margin-right: -10px;
}
.modalMenu .canvasHeader {
  padding: 19px 24px 25px;
  border-bottom: 1px solid #D9D9D9;
}
.modalMenu .canvasHeader .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.modalMenu .canvasHeader .btn {
  width: 100%;
  border-radius: 50px;
  height: 35px;
  background-color: #5F46E2;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalMenu .canvasBody {
  padding: 33px 37px;
}
.modalMenu .canvasBody li {
  margin-bottom: 38px;
}
.modalMenu .canvasBody li a {
  color: #313131;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modalMenu .canvasBody li.ac a {
  color: #5F46E2;
}/*# sourceMappingURL=style.css.map */